<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wango</title>
</head>
<body>
    <header><h1>Wango Blog</h1></header>
    <main>
        <ul class="sidebar-nav"
        
           {% if user.is_authenticated %}
             <li>User: {{ user.get_username }}</li>
             <li><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>
           {% else %}
             <li><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>
           {% endif %} 
          </ul>

        {% if latest_blog_list %}
            {% for blogpost in latest_blog_list %}
                <div>
                    <h3>{{ blogpost.title }}</h3>
                    <p>{{ blogpost.blog_text }}</p>
                </div>
            {% endfor %}
        {% else %}
            <p>No blogpost are available.</p>
        {% endif %}
    </main>
    <footer>
        
    </footer>
</body>
</html>