<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wango</title>
</head>
<body>
    <header><h1>Wango Blog</h1></header>
    <main>
        {% for blogpost in latest_blog_list %}
            <div>
                <h3>{{ blogpost.title }}</h3>
                <div>{{ blogpost.blog_text }}</div>
            </div>
        {% endfor %}
    </main>
</body>
</html>